body {
    background-color: #F8F9FA;
    align-items: center;
}
  
  .container {
    max-width: 800px;
}
  
.nav-tabs .nav-link {
    font-weight: bold;
}
  
.card img {
    height: 180px;
    object-fit: cover;
}
h2{
    text-align: center;
}




  

